<a href="https://colab.research.google.com/github/Elena8719/math/blob/main/%D0%A3%D1%80%D0%BE%D0%BA%209%20%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D1%8F%20%D1%87%D0%B0%D1%81%D1%82%D1%8C%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import numpy as np
s=np.array([27, 37, 42, 48, 57, 56, 77, 80])

p = np.array([1.2, 1.6, 1.8, 1.8, 2.5, 2.6, 3, 3.3])

In [6]:
n=8

In [7]:
b1 = (n*np.sum(p*s)- np. sum(s) * np.sum(p))/(n* np.sum(s**2)- np.sum(s)**2)

0.03874584717607981

или 2й способ:

In [4]:
b1= (np.mean(s*p)-np.mean(s)*np.mean(p))/(np.mean(s**2)-np.mean(s)**2)
b1

0.03874584717607981

In [43]:
b0 = np.mean(p)-b1*np.mean(s)
b0

0.17147009966776983

In [45]:
y_pred=0.17147009 +0.03874585 * s 
y_pred

array([[1.21760804],
       [1.60506654],
       [1.79879579],
       [2.03127089],
       [2.37998354],
       [2.34123769],
       [3.15490054],
       [3.27113809]])

In [10]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [14]:
model = LinearRegression()

In [28]:
s=s.reshape(-1,1)

In [35]:
regres=model.fit(s,p)

In [38]:
print(model.intercept_)

0.1714700996677747

In [40]:
print(model.coef_)

[0.03874585]

In [52]:
y_pred = model.predict(s)
y_pred

array([1.21760797, 1.60506645, 1.79879568, 2.03127076, 2.37998339,
       2.34123754, 3.15490033, 3.27113787])

In [57]:
df = pd.DataFrame({'реальные': p, 'предсказанные': y_pred})
df

   реальные  предсказанные
0       1.2       1.217608
1       1.6       1.605066
2       1.8       1.798796
3       1.8       2.031271
4       2.5       2.379983
5       2.6       2.341238
6       3.0       3.154900
7       3.3       3.271138